.DS_Store
.vscode
.venv
.ipynb_checkpoints
.idea
.gradle
.python-version
.trunk/
__pycache__
scholar.log
geckodriver.log
/lastrun.log
/resources/corrected/
/resources/pubpub/
/resources/Pub2TEI/
/resources/exclude_pdfs.txt
/nime/
/cache/
/output/
/ignore/
.env
