beautifulsoup4
bibtexparser
gender-guesser
gensim
geopy
https://github.com/kermitt2/grobid_client_python/archive/refs/heads/master.zip
lxml
nltk
numpy
onomancer
opencage
openpyxl
orjson
oschmod
pandas
pdfminer.six
pikepdf
pyLDAvis
python-Levenshtein
regex
requests
tqdm
Unidecode
wordcloud
