beautifulsoup4
bibtexparser
gender-guesser
gensim
geopy
git+https://github.com/cfculhane/fastText
git+https://github.com/kermitt2/grobid_client_python
lxml
nltk
numpy
onomancer
opencage
openpyxl
orjson
oschmod
pandas
pdfminer.six
pikepdf
pyLDAvis
python-dotenv
python-Levenshtein
pytz
regex
requests
scikit-learn
scipy==1.10.1
tqdm
Unidecode
wordcloud