bibtexparser
gender-guesser
gensim
geopy
lxml
nltk
numpy
onomancer
opencage
orjson
pandas
pdfminer.six
BeautifulSoup4
pyLDAvis
regex
requests
tqdm
unidecode
wordcloud
openpyxl
oschmod
python-Levenshtein
https://github.com/kermitt2/grobid_client_python/archive/refs/heads/master.zip
